$navy: #436F8A;
$gray: #CCCCCC;
$black: #1B1B1B;
$point-font: "Josefin Sans";

body {
	margin: 0;
	position: relative;
	font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
	animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
header {
	height: 100px;
	position: relative;
	z-index: 10;
}
.center-logo {
	position: fixed;
  width: 35px;
  top: 30px;
  left: 50%;
  transform: translate(-17.5px);
}
.left-logo {
	position: fixed;
  width: 120px;
  top: 30px;
  left: 30px;
	cursor: pointer;
	transition: filter 0.3s;
}
.left-logo:hover {
	filter: drop-shadow(0 0 5px gray);
}
.navbar {
	position: fixed;
  width: 60px;
  top: 20px;
  right: 20px;
	transition: filter 0.3s;
	cursor: pointer;
}
.navbar:hover {
	filter: drop-shadow(0 0 5px gray);
}
.scroll {
	position: fixed;
  bottom: 80px;
  left: 40px;
  height: 140px;
}
.sns-icons {
	list-style: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 28px;
  line-height: 1.8;
  padding: 0;
	z-index: 10;
	i:hover {
		filter: drop-shadow(0 0 5px gray);
		transition: filter 0.3s;
	}
}
.menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	transition: all 0.2s;
  transform: translate(300px);
	z-index: 100;
	&__item {
		color: #fff;
		font-size: 18px;
		margin: 30px;
		a {
			text-decoration: none;
    	color: #fff;
			font-family: $point-font;
			border-bottom: 2px solid $navy;
			cursor: pointer;
		}
		a:hover {
			color: $gray;
		}
	}
	&__active {
		transform: translate(0); 
	}
	&__cover {
		position: absolute;
		visibility: hidden;
		height: 100%;
    width: 100%;
    z-index: 50;
    background-color: rgba(250,250,250,0.7);
	}
}

.main {
	background-image: url(../images/main-back.png);
	background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	width: 83%;
  max-width: 1300px;
  margin: 0px auto;
	padding: 120px 0;
	text-align: center;
	color: #fff;
	font-family: $point-font;
	&__ttlarea {
		border: #fff 3px solid;
		max-width: 570px;
  	margin: auto;
		padding: 80px 50px;
	}
	&__sbttl {
		color: #fff;
		font-size: 20px;
		margin: 0;
		position: relative;
	}
	&__sbttl::before, &__sbttl::after {
		content:"";
    display:inline-block;
    width:100px;
    height:2px;
    margin:0 1em;
    background-color: #fff;
    vertical-align: middle;
	}
	&__ttl {
		letter-spacing: 0.25em;
  	font-size: 70px;
  	margin: 30px 15px 15px;
	}
	&__txt {
		font-size: 20px;
		margin: 0;
    line-height: 1.5;
	}
}
.sec {
	&__num {
		color: $navy;
		font-family: $point-font;
		font-weight: bold;
		font-size: 30px;
		margin: 0;
    text-align: center;
		&--gr {
			color: $gray;
		}
	}
	&__ttl {
		color: $black;
		font-family: $point-font;
		font-weight: bold;
		font-size: 33px;
		margin: 10px 0 80px;
		text-align: center;
		position: relative;
		&--wh {
			color: #fff;
		}
	}
	&__ttl::before {
		content: '';
  	position: absolute;
  	left: 50%;
  	bottom: -12px;
  	display: inline-block;
  	width: 60px;
  	height: 4px;
  	transform: translateX(-50%);
  	background-color: $black;
  	border-radius: 2px;
	}
	&__ttl--wh::before {
		background-color: #fff;
	}
	&__inner {
		padding: 100px 0;
    margin: 0 auto;
    max-width: 676px;
	}
	&__txt {
		font-size: 18px;
		line-height: 2;
		text-align: left;
		margin: 0 auto;
	}
}
.sec01 {
	background: $gray;
	position: absolute;
  top: 520px;
  z-index: -10;
  width: 100%;
  padding: 300px 0 150px;
	&__img {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(100, 200, 250, 0.3)), url(../images/bordgame02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 83%;
    margin: 0 auto;
	}
	&__txtarea {
		background: rgba(250,250,250,0.5);
		padding: 60px 85px;
    margin: 0 auto;
	}
}
.sec02 {
	padding: 1000px 0 0;
	img {
		width: 100%;
    margin: -30px 0 0;
	}
}
.sec03 {
	background-color: $navy;
  margin: -30px 0 0;
  padding-top: 30px;
	&__txtarea {
		max-width: 676px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		color: #fff;
		img {
			width: 318px;
    	height: 290px;
			margin: 0 auto;
		}
	}
	&__txt {
		width: 334px;
	}
	&__img {
		font-size: 0;
		img {
			width: 100%;
		}
	}
}
.sec04 {
	overflow: hidden;
}
.game-list {
	list-style: none;
  display: flex;
  justify-content: space-around;
	align-items: flex-end;
  margin: 0 auto 250px;
  padding: 0;
  max-width: 1050px;
	position: relative;
}
.game-item {
	font-size: 0;
	width: 18vw;
	img {
		box-shadow: 10px 8px 10px $gray;
		width: 100%;
		transition: all ease-in-out 0.3s;
	}
	:hover {
		opacity: 0.7;
    transform: translateY(-12px);
	}
}
.shelf {
	height: 80px;
  width: 100vw;
  position: absolute;
	bottom: -80px;
  z-index: -10;
  background-color: #EEEEEE;
	border-bottom: 35px solid #fff;
	box-shadow: 0 50px 50px $gray;
}
.sec05 {
	background-color: $gray;
	text-align: center;
}
.window {
	height: 40vh;
	background-image: url(../images/main-back.png);
	background-position: center;
  background-attachment: fixed;
	background-size: cover;
}
footer {
	text-align: center;
  height: 60px;
	img {
		width: 300px;
    margin: 15px 0;
	}
}

.modal {
	display: none;
	&__txtarea {
		width: 320px;
	}
	&__ttl {
		font-weight: bold;
		font-size: 25px;
		border-bottom: 3px solid $navy;
	}
	&__txt {
		font-size: 18px;
		line-height: 2;
	}
	img {
		height: max-content;
	}
}
.modaal-content-container {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.modaal-inner-wrapper {
	padding: 80px 0 !important;
}
.modaal-container {
	width: 75% !important;
}
.form {
	margin: 60px auto 30px;
	line-height: 4;
	border-collapse: collapse;
	&__required {
		color: #fff;
    font-weight: bold;
    background-color: #FF7B7B;
    display: inline-block;
    line-height: 1.5;
    padding: 0 10px;
		margin: 10px;
	}
	&__item {
		text-align: end;
	}
	&__submit {
		border-radius: 3px;
    font-size: 18px;
    width: 320px;
    text-decoration: none;
    padding: 20px 0;
    display: inline-block;
    margin: 30px auto 0;
		text-align: center;
		background-color: $navy;
		color: #fff;
		border-bottom: 5px solid #233A48;
		cursor: pointer;
	}
	tr:not(:last-child) {
		border-bottom: 2px solid #fff;
	}
	input {
		width: 20em;
    line-height: 2;
    margin: 0 20px;
		outline: none;
	}
	input:focus {
		border: 2px solid #82B1DB;
		background-color: aliceblue;
	}
}
.form__submit:active {
	border-bottom: none;
	border-top: 5px solid $gray;
}
.sp {
	display: none;
}


@media screen and (max-width: 767px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.left-logo {
		width: 100px;
    left: 20px;
	}
	.main {
		width: 100%;
		margin: 0;
		padding: 70px 0;
	}
	.main__ttlarea {
		width: 294px;
    padding: 80px 10px;
	}
	.main__sbttl {
		font-size: 18px;
	}
	.main__ttl {
		font-size: 40px;
	}
	.main__sbttl::after, .main__sbttl::before {
		width: 50px;
	}
	.sec__inner {
		padding: 50px 20px 20px;
	}
	.sec__num {
		font-size: 24px;
	}
	.sec__ttl {
		margin: 10px 0 50px;
		font-size: 28px;
	}
	.sec__txt {
		font-size: 15px;
	}
	.sec01 {
		padding: 120px 0 80px;
	}
	.sec01__img {
		width: 100%;
	}
	.sec01__txtarea {
		padding: 50px 20px;
	}
	.sec02 {
		padding: 620px 0 0;
		img {
			margin-top: 20px;
		}
	}
	.sec03__txtarea {
		img {
			width: 90%;
    	height: 90%;
    	margin: 30px auto;
		}
	}
	.form {
		line-height: 1.5;
    margin: 30px auto;
		input {
			margin: 0;
    	width: 200px;
		}
		th, td {
			width: 100%;
			display: block;
		}
		&__item {
			text-align: left;
			font-size: 15px;
    	padding: 20px 0 10px;
		}
		&__required {
			font-size: 12px;
    	margin: 0 0 0 10px;
			padding: 5px;
		}
		&__submit {
			width: 250px;
    	margin: 0 auto 30px;
		}
	}
	.game-list {
		margin: 30px auto 120px;
	}
	.game-item {
		width: 30vw;
	}
	.shelf {
		border-bottom: 25px solid #fff;
    height: 60px;
    bottom: -50px;
	}
	.modaal-wrapper img {
		width: 150px;
	}
	.modal__ttl {
		font-size: 20px;
	}
	.modal__txt {
		font-size: 15px;
	}
}